@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i");
/* Outline helper - to see the boundraies of my various elements. Comment/uncomment as needed */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Space Mono", monospace;
  max-width: 100%; }

input {
  margin-bottom: 30px;
  margin-top: 20px;
  height: 30px;
  width: 180px;
  text-indent: 10px;
  border-radius: 5px; }

p {
  text-align: center; }

.title-bar-top, .footer-bar-top {
  background: #0f1b07; }

.title-bar-inside, .footer-bar-inside {
  width: 960px;
  margin: 0 auto; }

.title-bar-text {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF; }

.footer-bar-text {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF; }

.quote {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #FFFFFF; }

.btn {
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 300;
  margin-left: 2%;
  line-height: 1.5em;
  color: #FFFFFF;
  background: #b3c100;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  width: 30%;
  margin: 0 auto; }

.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #f0f0f0;
  font-size: 14px; }

.enter-name-section {
  max-width: 50%;
  margin: 80px auto 0px auto;
  background-color: #c6d166;
  padding: 40px 10px 10px 10px;
  border-radius: 10px;
  height: 200px;
  border: 1px solid #FFFFFF;
  position: relative;
  z-index: 100; }

.input-form {
  max-width: 85%;
  margin: 0 auto; }

.quote-button-section, .title-bar-inside, .footer-bar-inside, .twitter-share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }

.form-fields {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.tweet-section {
  max-width: 45%;
  margin: 0px auto 80px auto;
  background-color: #c6d166;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  position: relative;
  z-index: 10;
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px); }

.tweet-section.open {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: transform 1.0s ease; }
