doctype html
html(lang="en")
	head
		title Random Quote Machine
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="css/style.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet")
	body.container
		section.title-bar-top
			header.title-bar-inside
				h2.title-bar-text Donald Trump Random Quote Machine
		section.enter-name-section
			div.quote-form-wrapper
				div.input-form
					form.form-fields
						//label(for="first-name") First Name:
						input(type="text" name="first_name" id="first-name" placeholder="Enter Your First Name..." required)
						//label(for="last-name") Last Name:
						input(type="text" name="last_name" id="last-name" placeholder="Enter Your Last Name..." required)
				div.quote-button-section
					button.quote-me.btn Quote Me!
		section.tweet-section
			div.quote-tweet-wrapper
				div.quote-container
					p.quote
				div.tweet-button-section
					a(class="twitter-share-button" href="https://twitter.com/share")
						button.btn(type="button") Tweet!
		footer.footer-bar-top
			header.footer-bar-inside
				p.footer-bar-text All quotes provided by the Donald, via 
					a(href="https://whatdoestrumpthink.com" target="_blank") What Does Trump Think.
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/app.js")